In [1]:
import pandas as pd
import altair as alt

In [51]:
unemployment_bronx = pd.read_csv("https://raw.githubusercontent.com/ZhenZhouXu/Data-analysis-project/main/data_sources/outputs/UERBronxCounty.out"
                                 , header=None, names=['Date', 'Umemployment Rate'])
unemployment_kings = pd.read_csv("https://raw.githubusercontent.com/ZhenZhouXu/Data-analysis-project/main/data_sources/outputs/UERKingsCounty.out"
                                 , header=None, names=['Date', 'Umemployment Rate'])
unemployment_newyork = pd.read_csv("https://raw.githubusercontent.com/ZhenZhouXu/Data-analysis-project/main/data_sources/outputs/UERNewYorkCounty.out"
                                 , header=None, names=['Date', 'Umemployment Rate'])
unemployment_queens = pd.read_csv("https://raw.githubusercontent.com/ZhenZhouXu/Data-analysis-project/main/data_sources/outputs/UERQueensCounty.out"
                                 , header=None, names=['Date', 'Umemployment Rate'])
unemployment_richmond = pd.read_csv("https://raw.githubusercontent.com/ZhenZhouXu/Data-analysis-project/main/data_sources/outputs/UERRichmondCounty.out"
                                 , header=None, names=['Date', 'Umemployment Rate'])

In [52]:
unemployments = [unemployment_bronx,
                 unemployment_kings,
                 unemployment_newyork,
                 unemployment_queens,
                 unemployment_richmond]

In [65]:
for i, unemployment in enumerate(unemployments):
    unemployment['Date'] = pd.to_datetime(unemployment['Date'], format='%Y-%m')
    unemployments[i] = unemployment.set_index('Date')

In [69]:
unemployment_nyc = sum(unemployments) / 5

In [75]:
unemployment_nyc = unemployment_nyc[:22].reset_index()

In [76]:
unemployment_nyc

         Date  Umemployment Rate
0  2020-01-01               3.64
1  2020-02-01               3.48
2  2020-03-01               4.12
3  2020-04-01              14.58
4  2020-05-01              17.96
5  2020-06-01              20.18
6  2020-07-01              19.88
7  2020-08-01              16.14
8  2020-09-01              13.70
9  2020-10-01              13.00
10 2019-01-01               5.08
11 2019-02-01               4.66
12 2019-03-01               4.40
13 2019-04-01               3.78
14 2019-05-01               3.92
15 2019-06-01               3.98
16 2019-07-01               4.40
17 2019-08-01               4.28
18 2019-09-01               3.60
19 2019-10-01               3.80
20 2019-11-01               3.46
21 2019-12-01               3.22

In [77]:
unemployment_chart = alt.Chart(unemployment_nyc).mark_line(color='red').encode(
    x='Date',
    y='Umemployment Rate',
    tooltip=[
        'Date:T',
        'Umemployment Rate:Q'
    ]
)

# Hate Crimes Output

In [10]:
hate_crimes = pd.read_csv("https://raw.githubusercontent.com/ZhenZhouXu/Data-analysis-project/main/data_sources/outputs/hate_crimes_daily_out.csv")

In [11]:
hate_crimes

,record_date,anti_white,anti_asian,anti_black,anti_jewish,anti_hispanic
0,01/01/2019,0,0,0,1,0
1,01/01/2020,0,0,0,1,0
2,01/02/2019,0,0,0,0,0
3,01/02/2020,0,0,0,1,0
4,01/03/2019,0,0,0,2,0
...,...,...,...,...,...,...
366,12/27/2019,0,0,0,6,0
367,12/28/2019,0,0,1,0,1
368,12/29/2019,0,0,0,1,0
369,12/30/2019,0,0,0,2,0
370,12/31/2019,0,0,0,4,0

In [12]:
hate_crimes['record_date'] = pd.to_datetime(hate_crimes['record_date'], format="%m/%d/%Y")

In [13]:
hate_crimes = hate_crimes.set_index('record_date')

In [14]:
hate_crimes = hate_crimes.sort_index()

In [15]:
hate_crimes = hate_crimes.resample('M').sum()

In [16]:
hate_crimes = hate_crimes.reset_index()

In [17]:
hate_crimes

   record_date  anti_white  anti_asian  anti_black  anti_jewish  anti_hispanic
0   2019-01-31           1           1           1           26              0
1   2019-02-28           2           0           2           19              0
2   2019-03-31           8           0           7           28              3
3   2019-04-30           0           0           5           14              0
4   2019-05-31           0           0           1           24              0
5   2019-06-30           1           0           4           19              0
6   2019-07-31           1           0           5            7              1
7   2019-08-31          10           0           2           24              0
8   2019-09-30           1           0           1           12              1
9   2019-10-31           1           0           4           31              1
10  2019-11-30           3           0           1           19              1
11  2019-12-31           0           0           3           28              1
12  2020-01-31           0           0           6           19              0
13  2020-02-29           2           0           3           18              0
14  2020-03-31           0          14           3            8              0
15  2020-04-30           2           4           0            8              0
16  2020-05-31           0           3           1            7              0
17  2020-06-30           1           1           4            4              0
18  2020-07-31           2           3           4           11              0
19  2020-08-31           3           0           6            5              0
20  2020-09-30           0           1           4            7              0

In [44]:
hate_crime_chart = alt.Chart(hate_crimes).transform_fold(
    fold=['anti_white', 'anti_asian', 'anti_black', 'anti_jewish', 'anti_hispanic'],
    as_=['races', 'num']
).mark_bar(size=20).encode(
    x='record_date:T',
    y='num:Q',
    color='races:N',
    strokeDash='races:N',
    tooltip=[
        'record_date:T',
        'num:Q',
        'races:N',
    ],
    
)

In [78]:
alt.layer(
    hate_crime_chart,
    unemployment_chart,
).properties(
    width=700,
    height=500,
).interactive()

alt.LayerChart(...)